<style>
    div
    {
   
    }
   
    #ust
    {
        width: 100%;
        background-color: black;
    }
    #ustbos
    {
        background-color: black;
    }
    #ask
    {
        margin: auto auto;
     
    }
    .body
    {
        background-color: gray;
    }
    
   
    a
    { 
        text-decoration: none;
        color:royalblue;
        margin: auto;
    }
    #baslik
    {
        text-align: center;
        width: 100%;
        background-color:black;
    }
   
    
    #iletisim
    {
        width: 100%;
        text-align: center;
        
    }
    #slider {
        width:100%;
        font: 19px sans-serif;
        overflow:hidden;
        
    }
    
    #kontrol {
        color: gray;
    }
    
    #kontrol a {
        
        color:white;
        background: rgba(0,0,0,0.5);
        padding:10px;
        text-decoration:none;
    }
    
    #backlink
    {
        background-color:lightsteelblue;
    }
    
    .labellog
    {
        color: blue;
        font-weight: bold;
        font-size: 20pt;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    #links
    {
        width: 100%;
        text-align: center;
    }
    #bosluk
    {
        background-color: gray;
        color: gray;
    }
    .bodywhite
    {
        background-color: rgb(204, 204, 204);
    }
    #beyaz
    {
        background-color: rgb(204, 204, 204);
        color: rgb(204, 204, 204);
    }
   
    #paragilk
    {
        color:darkgreen;
        font-size: 15pt;
    }
    .paragorta
    {
        color:black;
        margin-left: 3%;
        font-size: 12pt;
    }
    .linkparag
    {
        color:silver;
    }
   .graytable
   {
    border: 0;
    background-color: gray;
    border-style:dashed;
    width: 100%;
   }
   #graydiv
   {
    background-color: gray;
    text-align: center;

   }
   #graydiv2
   {
    background-color: gray;

   }
   #graydiv3
   {
    background-color: gray;

   }

    
    #divtarihce
    {
        width: 100%;
        float: left;
    }
    
    #arayazi1
    {
        width: 100%;
        float: left;
    }
    .genelyazi
    {
        font-size: 14pt;
        margin-left: 2%;
        margin-right: 1%;
    }
    .yanbaslik
    {
        font-size: 15pt;
        color: rgb(48, 20, 124);
        font-weight: bold;
        margin-left: 2%;
    }
    .imgalt
    {
        font-weight: bold;
        font-size: 13pt;
        background-color: steelblue;
        width: 97%;
        text-align: center;
    }
    #altimg
    {
        font-weight: bold;
        font-size: 13pt;
        background-color: steelblue;
        width: 94%;
        text-align: center;
    }
    #divsag
    {
        width: 100%; float: right;
    }
    #divresim
    {
        width: 100%;
    }
    #inonu
    {
        width: 40%;
        margin-left: 30%; margin-right: 30%;
        height: 250px;
    }
    #slider
    {
        width: 800px;
        height: 600px;
    }
    #center
    {
        text-align: center;
    }
    #cvfoot
    {
        color: rgba(34, 12, 12, 0.767);
        font-size: 14pt;
    }
    #divfoot
    {
        text-align: right;
        color: burlywood;
    }
    .cv
    {
        color: aquamarine;
        font-size: 22pt;
        margin-left: 7%;
    }
   
    .cvtable
   {
       margin-left: 7%;
       color:black;
       font-weight: bold;
   }
   #table
   {
    border-color: blue;
    border-width: 3px;
    width: 70%;
    background-color: white;
   }
   #tablehatay
   {
    border-color: blue;
    border-width: 1px;
    width: 100%;
    background-color: rgb(229, 226, 226);
    border: 1;
    border-style: solid;
   }
   #td1
   {
       text-align: center;
       color: black;
       font-size: 32pt;
   }
   #td2
   {
    text-align: center;
    color: white;
    font-size: 32pt;
}



  
    .sutun1
    {
        width: 40%;
    }
    .sutun2
    {
        width: 60%;
    }
  
    </style>
   

</style>